aiohttp==3.6.2
amqp==2.5.2
APScheduler==3.6.3
asgiref==3.2.3
astroid==2.3.3
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
beautifulsoup4==4.8.1
billiard==3.6.3.0
boto==2.49.0
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
defusedxml==0.6.0
Django==3.0.1
django-allauth==0.41.0
django-appconf==1.0.4
django-apscheduler==0.3.0
django-background-tasks==1.2.5
django-compat==1.0.15
django-crispy-forms==1.8.1
django-include-by-ajax==2.0.0
django-ses==0.8.13
django-webpack-loader==0.7.0
djangorestframework==3.11.0
future==0.18.2
idna==2.8
isort==4.3.21
kombu==4.6.8
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.2.0
multidict==4.7.2
mutagen==1.43.0
numpy==1.18.1
oauthlib==3.1.0
packaging==20.3
Pillow==6.2.1
pluggy==0.13.1
py==1.8.1
pycurl==7.43.0.5
pylint==2.4.4
PyMySQL==0.9.3
pyparsing==2.4.7
pytest==5.4.1
python3-openid==3.1.0
pytz==2019.3
rcssmin==1.0.6
requests==2.22.0
requests-oauthlib==1.3.0
rjsmin==1.1.0
six==1.13.0
soundcloud-lib==0.4.2
soupsieve==1.9.5
sqlparse==0.3.0
typed-ast==1.4.0
tzlocal==2.0.0
urllib3==1.25.8
vine==1.3.0
wcwidth==0.1.9
wrapt==1.11.2
yarl==1.4.2
