#bars {
    height: 180px;
    margin: auto;
    position: relative;
    width: 200px;
  }
  
  .bar {
   background: #1db954;
    bottom: 5px;
    height: 15px;
    position: absolute;
    width: 15px;      
    animation: sound 0ms -800ms linear infinite alternate;
  }

@keyframes sound {
    0% {
       opacity: .35;
        height: 15px; 
    }
    100% {
        opacity: 1;       
        height: 140px;        
    }
  }
  
  .bar:nth-child(1)  { left: 5px; animation-duration: 474ms; }
  .bar:nth-child(2)  { left: 25px; animation-duration: 433ms; }
  .bar:nth-child(3)  { left: 45px; animation-duration: 407ms; }
  .bar:nth-child(4)  { left: 65px; animation-duration: 458ms; }
  .bar:nth-child(5)  { left: 85px; animation-duration: 400ms; }
  .bar:nth-child(6)  { left: 105px; animation-duration: 427ms; }
  .bar:nth-child(7)  { left: 125px; animation-duration: 441ms; }
  .bar:nth-child(8)  { left: 145px; animation-duration: 419ms; }
  .bar:nth-child(9)  { left: 165px; animation-duration: 487ms; }
  .bar:nth-child(10) { left: 185px; animation-duration: 442ms; }​
  
  