{% extends 'admin/change_list.html' %}
{% block object-tools %}
    <form id="dwtask-form" method="POST" action='start/dw_task/'>
        {% csrf_token %}
        <button name="start-dw-task" class="btn" type="submit">Start Discover Weekly Task</button>
    </form>
    <form id="dwtask-form" method="POST" action='end/dw_task/'>
        {% csrf_token %}
        <button name="end-dw-task" class="btn" type="submit">End Discover Weekly Task</button>
    </form>
    <br>

    {{ block.super }}
{% endblock object-tools %}