{% extends "portfolio/base.html" %} {% block content %}
<div class= "container">

  {% if hpl_url %}
  <div class='row'>
    <div class="col-xs-12 col-md-6 m-auto">
      <h1 class="display-1 text-white">Great!</h1>
      <p class="text">
        We will be creating {{ listing_count }} listings on a board titled {{ board_name }} 
      </p>
    </div>
    <div class="col-xs-12 col-md-6 m-auto">
      <form method='POST' action='/create_and_post' class="form">
        <button class="btn contact-button" type="submit", value="hpl_url">Pin these Listings</button>
      </form>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        {% for listing in listings %}
          <a href="{{ listing.itemUrl }}">
            <tr>
              <th scope="row"><img class="sidebar-img" src="{{ listing.pictureURL }}" alt="no-img"></th>
              <td>{{ listing.title }}</td>
              <td>{{ listing.price }}</td>
              </a>          
            </tr>
          </a>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="row">
    <div class="col-xs-12 col-md-6 m-auto">
      <h1 class="display-3">Time to Pin a List</h1>
      <p class="white-text">Please enter a Bonanza HPL url</p>
    </div>
    <div class="col-xs-12 col-md-6 m-auto">
      <form method='POST' action="{% url 'pin_list' %}" class="form">
        {% csrf_token %}
        <input style="min-width:350px; min-height:25px; padding:5px; font-size:12px; margin-bottom: 15px;"id='hpl_url' type='url' name='hpl_url' placeholder='https://www.bonanza.com/hand_picked_lists/163380' autofocus=''>
        <button class="btn contact-button" type="submit", value="hpl_url">Pin It</button>
      </form>
    </div>
  </div>
  {% endif %}
</div>

{% endblock content %}