{% extends "portfolio/base.html" %}

{% block content %}


<div class= "container">
  <div class="row">
    <div class="col-xs-12 col-md-6 m-auto">
        <img class="img-fluid" src="{{ success_gif }}" alt="">
    </div>
    <div class="col-xs-12 col-md-6 m-auto pt-4">
      <span class="d-table-cell align-middle">
        <p class="display-1 text-white">Success!</p>
        {% if message %}
          <div class='alert alert-danger message'>
            <p style="margin-bottom: 0px;">{{ message }}</p>
          </div>
        {% endif %}
        <p class='text'>We have posted the pins to: <a href="{{ board_url }}">{{ board_url }}</a></p>
      </span>
    </div> 
  </div>
  <div class="row">
    <div class="col-12, m-auto">
      <ul>
        {% for pin in pin_urls %}
        <li>{{ pin }}</li>
        {% endfor %}
      </ul> 
    </div>

  </div>
</div>



{% endblock content %}



    
