{% extends "portfolio/base.html" %} 
{% block content %}


<div class="container">
  {% if message %}
    <div class='alert alert-danger message'>
      <p style="margin-bottom: 0px;">{{ message }}</p>
    </div>
  {% endif %}

  <div class="row">
    <div class="p-4 d-table welcome-message col-12 jumbotron jumbotron-fluid">
        <span class="d-table-cell align-middle">
            <div class="display-1 text-white">Welcome,</div>
            <div class="display-1 text-white">to HPLtoPIN</div>
            <div style="max-width: 500px;">
              <p class="text">HPLtoPIN allows you to take a 
                <a style="color:#56693D" href="bonanza.com">Bonanza Hand Picked List</a> 
                and turn it into a 
                <a style="color:#E60023" href="pinterest.com">Pinterest Board</a> 
                filled with pins of your favorite Bonanza items!
              </p>
              <p class="text">
                To get started you simply need to log in 
                to Pinterest and authorize us to Pin on your behalf.
              </p>
              <p>Once authorized you will</p>
              <ol>
                <li>Enter the URL of the Hand Picked List</li>
                <li>Confirm the board title and items to Pin</li>
              </ol>
              <p>Simple as that your Bonanza items will be Pinned to your Pinterest account</p>
              <button class="btn" type="submit" style="background-color:#E60023; color:white", onclick="window.location.href='{{ pinterest_auth_url }}';">Log in with Pinterest</button>
              
              <p class="mt-4">Current Limitations:</p>
              <ul>
                <li>Until verified, this will only work with Bonanza's Pinterest account</li>
                <li>Until verified, there is an API rate limit that may cause errors</li>
              </ul>

            </div>
           
        </span>
    </div>
</div>

{% endblock content %}
