{% extends "portfolio/base.html" %} 
{% block content %}

<div class="container">
  {% if message %}
    <p>{{ message }}</p>
  {% endif %}
  <img class = 'gif' src='{{ welcome_gif }}'></img>
  <div class='text-box'>
    <p class="text">HPLtoPIN allows you to take a</p>
    <p><a style="color:#56693D" href="bonanza.com">Bonanza Hand Picked List</a></p>
    <p class="text">and turn it into a </p>
    <a style="color:#E60023" href="pinterest.com"><p>Pinterest Board</p></a>
    <p class="text">filled with pins of your favorite Bonanza items!</p>
  </div> 
  <div class= "right-container">
    <a href="{{ pinterest_auth_url }}"><p>Click Here</p></a>
    <button class="btn" type="submit", onclick="window.location.href='{{ pinterest_auth_url }}';">Let's Get Pinning!</button>
      
    <p>updated button</p>
    
  </div>
</div>

{% endblock content %}
