{% extends "portfolio/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if message %}
        <div class='alert alert-danger message'>
        <p style="margin-bottom: 0px;">{{ message }}</p>
        </div>
    {% endif %}
      
    <div class="container">
        <div class="row justify-content-start">
            <div class='col-3'>
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            </div>
            <div class='col-9 m-auto'>
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
            <div class='col'>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Profile Info</legend>
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn contact-button" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class='row justify-content-start'>
            <div class='col-4 '>
                <h1>Integrations</h1>
                {% if pinterest_access_token %}
                    <p class="text">
                        You are connected to Pinterest.
                    </p>
                    <div id="pinterst_access_token" >
                        <p class="text">{{ pinterest_access_token }}</p>
                    </div>
                    <button class="text" onclick="showAccessToken('pinterest')">Show Access Token</button>
                    <button class="text" type="submit", onclick="window.location.href = '{{ pinterest_auth_url }}';">Get a new access token</button>
                {% else %}
                    <a class="btn btn-block btn-social btn-pinterest"  onclick="window.location.href = '{{ pinterest_auth_url }}';">
                        <span class="fab fa-pinterest"></span>Pinterest: Sign In
                    </a>
                {% endif %} 
                {% if spotify_access_token %}
                    <a class="btn btn-block btn-social btn-spotify"  onclick="window.location.href = '{{ spotify_auth_url }}';">
                        <i class="fas fa-check" style="color: white;"></i>Spotify: Connected
                    </a>

                    <h3>Discover Weekly Automation</h3>
                    <p>Automatically add your discover weekly songs to a cumulative playlist on a weekly or monthly basis</p>

                    {% if dw_monthly %}
                        <p>Monthly DW Playlist Created</p>
                        <p>Last Updated: {{ dw_monthly_updated_at }}</p>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <button name="monthly_disconnect" type="submit">Disconnect Monthly Playlist</button>
                            </div>
                        </form>
                    {% else %}
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <button name="monthly" class="btn contact-button" type="submit">Create Monthly Playlist</button>
                            </div>
                        </form>
                    {% endif %}

                    {% if dw_yearly %}
                        <p>Yearly DW Playlist Created</p>
                        <p>Last Updated: {{ dw_yearly_updated_at }}</p>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <button name="yearly_disconnect" type="submit">Disconnect Yearly Playlist</button>
                            </div>
                        </form>
                    {% else %}
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <button name="yearly" class="btn contact-button" type="submit">Create Yearly Playlist</button>
                            </div>
                        </form>
                    {% endif %}  
                {% else %}
                    <a class="btn btn-block btn-social btn-spotify"  onclick="window.location.href = '{{ spotify_auth_url }}';">
                        <i class="fab fa-spotify" style="color: white;"></i>Spotify: Sign In
                    </a>
                {% endif %}
            </div>  
        </div>
    </div>
    
{% endblock content %}