{% extends "portfolio/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
      
    <div class="container">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
          <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
          </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn contact-button" type="submit">Submit</button>
            </div>
        </form>
        {% if access_token %}
            <p class="text">
                You are connected to Pinterest.
            </p>
            <div id="access_token" >
                <p class="text">{{ access_token }}</p>
            </div>
            <button class="text" onclick="showAccessToken()">Show Access Token</button>
            <button class="text" type="submit", onclick="window.location.href = '{{ pinterest_auth_url }}';">Get a new access token</button>
        {% else %}
            <p class="text">Let's connect to pinterest</p>
            <button class="red-button" type="submit", onclick="window.location.href = '{{ pinterest_auth_url }}';">Log in with Pinterest</button>
        {% endif %} 
    </div>
{% endblock content %}