{% extends "portfolio/base.html" %}

{% block content %}
{% if message %}
<div class='alert alert-danger message'>
  <p style="margin-bottom: 0px;">{{ message }}</p>
</div>
{% endif %}

<div class="container">
    <img class='img-fluid' src='{{ minion_gif }}'>
    <h2>Welcome to Music minon</h2>
    <p>Music minion is a program to organize and find music on Spotify using their extended audio features</p>
    {% if user.is_authenticated %}
      <a class="btn contact-button" href="{% url 'music-minion-search' %}">Search</a>
      <a class="btn contact-button" href="{% url 'music-minion-playlist' %}">Playlist</a>
    {% else %}
      <p>You must be logged in to use this app</p>
      <p>After logging in you may visit your profile to connect your spotify account.</p>
      <a class="btn contact-button" href="{% url 'login' %}">Log In</a>
    {% endif %}
</div> 

{% endblock content %}
