{% extends "portfolio/base.html" %}
{% load crispy_forms_tags %}




{% block content %}
<div id="main-content" class="container">
    {% if message %}
      <div class='alert alert-danger message'>
        <p style="margin-bottom: 0px;">{{ message }}</p>
      </div>
    {% endif %}
    <div>
        <form name="playlist" method="POST">
            {% csrf_token %}
            <fieldset class="contact-form form-group">
                <legend class="border-bottom mb-4">Examine your playlist</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="contact-form form-group">
                <button id="get_playlist_tracks" class="btn contact-button" type="submit">Get Tracks</button>
            </div>
        </form>
    </div>

<div id="playlist-table">
    {% include 'music_minion/playlist_table.html' %}
</div>

<div id="suggestions-table">
    {% include 'music_minion/suggestions_table.html' %}
</div>

{% endblock content %}

{% block js %}
<script type="text/javascript">
    document.getElementById("reorder").onclick = function(){
        let reorderOn = false;
        if (reorderOn === false) {
            $(this).toggleClass('btn-outline-success btn-success');
            $('table tbody').sortable();
            reOrderOn = true;
            return;
        } else {
            $(this).toggleClass('btn-outline-success btn-success');
            reOrderOn = false;
            return;
        };
    };
</script>

<script>
    $(document).ready(function(event){
        $(document).on('click', '#get_playlist_tracks', function(event){
            event.preventDefault();
            var form = document.playlist;
            let playlist_id = form.playlist.value;
            let user_id = '{{ user.id }}';
            $.ajax({
                type:'POST',
                url: '{% url "get_playlist_tracks" %}',
                data: {'user_id':user_id, 'playlist_id':playlist_id, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'use':'table'},
                dataType:'json',
                success: function(response){
                    if(response['form']){
                        $('#playlist-table').html(response['form']);
                        console.log($('#playlist-table').html(response['form']));

                    } else {
                        console.log('No form');
                    }},
                error: function(rs, e){
                    console.log(rs.responseText);
                }
            })
        })
    });
</script>

{% endblock js %}


