{% extends "portfolio/base.html" %}
{% load crispy_forms_tags %}



{% block content %}
{% if message %}
<div class='alert alert-danger message'>
  <p style="margin-bottom: 0px;">{{ message }}</p>
</div>
{% endif %}

<div>
    <form name="playlist" method="POST">
        {% csrf_token %}
        <fieldset class="contact-form form-group">
            <legend class="border-bottom mb-4">Choose a Playlist</legend>
            {{ playlist_form|crispy }}
        </fieldset>
        <div class="contact-form form-group">
            <button id="get_playlist_tracks" class="btn contact-button" type="submit">Get Tracks</button>
        </div>
    </form>
</div>

<div class="container track-list ">
    <div id="spotify-tracks" class="spotify-tracks">
        <div id="spotify-card" class="spotify track-card">
            <div class="buttons">
                <div class="previous-button">
                    <a href="#" class="previous">&#8249;</a>
                </div>
                <div class="card-count">
                    <p>10</p>
                </div>
                <div class="next-button">
                    <a href="#" class="next">&#8250;</a>
                </div>
            </div>

            <img class="track-card-img" src="https://i.scdn.co/image/b16064142fcd2bd318b08aab0b93b46e87b1ebf5" alt="https://i.scdn.co/image/b16064142fcd2bd318b08aab0b93b46e87b1ebf5">
            <hr>
            <div class="card-body">
                <h4 class="card-title">Otra Vez (feat. J Balvin)</h4>
                <p class="card-text">Zion & Lennox</p>
            </div>
        </div>
    </div>

    <div id="youtube-tracks" class="youtube-tracks">
        <div id="youtube-card" class="youtube track-card">
            <div class="buttons">
                <div class="previous-button">
                    <a href="#" class="previous">&#8249;</a>
                </div>
                <div class="card-count">
                    <p>10</p>
                </div>
                <div class="next-button">
                    <a href="#" class="next">&#8250;</a>
                </div>
            </div>

            <img class="track-card-img" src="https://i.scdn.co/image/b16064142fcd2bd318b08aab0b93b46e87b1ebf5" alt="https://i.scdn.co/image/b16064142fcd2bd318b08aab0b93b46e87b1ebf5">
            <hr>
            <div class="card-body">
                <h4 class="card-title">Otra Vez (feat. J Balvin)</h4>
                <p class="card-text">Zion & Lennox</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
    var spotifyTracks = null;
    var youtubeTracks = {};
    

    $(document).ready(function(event){
        
        //Get Spotify playlist tracks
        $(document).on('click', '#get_playlist_tracks', function(event){
            event.preventDefault();
            getTracks()
        });

    });


    function createDiv(data, callback){
        $(".track-list").append(`<div id="${data['id']}" class="row"></div>`);
        callback(data, 'spotify');
    };

    function createTrackCard(track, platform){
        console.log("creating card for " + platform)
        let trackCard = `
            <div id="${platform}-${track.id}" class="${platform}-track-card">
                <img class="track-card-img" src="${track.img_url}" alt="${track.img_url}">
                <div class="card-body">
                    <h3 class="card-title">${track.name}</h3>
                    <p class="card-text">${track.artists}</p>
                    <p class="card-text">${track.duration}</p>
                </div>
            </div>
            `;
        let divId = track['id'];
        let row = document.getElementById(divId);
        row.innerHTML += trackCard;
    };



    async function getTracks() {
        try {
            spotifyTracks = await getSpotifyTracks();

            for(var i = 0; i < spotifyTracks.length; i++) {
                let track = await getYouTubeTracks(spotifyTracks[i],i);
                youtubeTracks[track[0]] = track[1];
            };
            
            console.log(youtubeTracks)
        } catch(error) {
            console.error("error", error);
        };
    };

    async function getSpotifyTracks(){
        //remove any tracks loaded
        let spotify_tracks = document.getElementById('spotify-tracks');
        spotify_tracks.innerHTML = '';

        var form = document.playlist;
        let playlistId = form.playlist.value;
        let use = 'list';
        let tracks = null
        let userId = '{{ user.id }}';

        //Make an Ajax request to the Get Playlist tracks URL
        await $.ajax({
            type:'POST',
            url: '{% url "get_playlist_tracks" %}',
            data: {'user_id':userId, 'playlist_id':playlistId, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'use': use},
            dataType:'json',
            success: function(data){
                console.log("We got some tracks")
                //Take the resonse and add a Card for each Spotify track
                if(data){
                    data.forEach((track) => {
                        createDiv(track, createTrackCard)
                    });
                    tracks = data
                } else {
                    console.log('No tracks');
                }}, 
            error: function(rs, e){
                console.log(rs.responseText);
            }
        });
        return tracks
    };

    async function getYouTubeTracks(track, i) {
        let trackId = track['id'];
        let trackName = track['name'];
        let trackArtists = track['artists'];
        let userId = '{{ user.id }}';
        let trackData = await $.ajax({
            type:"POST",
            url:'{% url "get_youtube_tracks" %}',
            data: {'user_id':userId, 'track_id':trackId, 'artists':trackArtists, 'name':trackName, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType:'json',
            success: function(data) {
                createTrackCard(data[i], 'youtube');
                return data
            },
            error: function(rs, e){
                console.log(rs.responseText)
                return "Nada"
            }
        });
        let returnValue = [trackId, trackData]
        console.log(returnValue)
        return returnValue
    };

</script>
{% endblock js %}