{% extends "portfolio/base.html" %}

{% block content %}

{% if message %}
<div class='alert alert-danger message'>
  <p style="margin-bottom: 0px;">{{ message }}</p>
</div>
{% endif %}
<h2>Welcome to Music Minon's Youtube Page</h2>



{% endblock content %}

{% block js %}
<script src="https://apis.google.com/js/api.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script> -->
<script>
  $(document).ready(function(event){
    
    const youtube = new youtubeClient();
    youtube.load()
  })

  class youtubeClient {
    constructor() {
      this.token = '{{ youtube_token }}'
    }

    load() {
      let x = {access_token:this.token};
      console.log(x)
      //gapi.client.init()
      gapi.auth.setToken(x);
      return gapi.client.load("https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest")
        .then(function() { console.log("GAPI client loaded for API"); },
              function(err) { console.error("Error loading GAPI client for API", err); });
    }
  } 
</script>
{% endblock js %}
